.logo{
    width:50%;
    height:100%; 
    border-radius: 10%;
    margin: 5px;
}
.name{
    
    text-align: right;
    
    
}
.cover{
    height: 90%;
    width: 100%;
}
.mywork{
    color: #7d97ad;
}
.first{
    width: 100%;
    height: 100%;
}
.text{
    text-align: center;
    font-family: 'Lobster', cursive;

}
.link{
    text-align: center;
}
hr {
height: 1px;
color: #123455;
background-color: #123455;
border: none;
}